{% extends '::base.html.twig' %}

{% block body %}
<div class="col-md-6 col-md-offset-3">
	<ul class="list-group">

		<li class="list-group-item">
			<a href="#">{{event.course.title}}</a>
			<span class="pull-right">{{event.date|date("F j, Y, g:i a")}}</span>
		</li>

	</ul>

	<h3>Attendees</h3>
	<ul class="list-group">
	{% for delegate in event.delegates %}
		<li class="list-group-item">
			{{delegate.email}}
		</li>
	{% endfor %}
	</ul>
	<button class="btn btn-success" data-toggle="modal" data-target="#register">Register</button>
</div>

<div id="register" class="modal fade" style="display:none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				Confirm registration
			</div>
			<div class="modal-body">
				Are you sure you want to register on to this Course?
			</div>
			<div class="modal-footer">
				<a href="{{path('ageuk_event_register_index', {'event':event.id, 'delegate':app.user.id})}}" class="btn btn-success">Register</a>
				<button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>
{% endblock %}