<div class="col-md-8 col-md-offset-2">
	<div class="block-flat">
		<div class="header">
			<h4>Course Subscriptions</h4>
		</div>
		<div class="content">
		{% if app.user.subscribedCourses|length < 1 %}
			<h4>You are not subscribed to any training courses</h4>
		{% else %}
			<table class="no-border">
				<thead class="no-border">
					<tr>
						<th>Course Title</th>
						<th class="text-right">Action</th>
					</tr>
				</thead>
				<tbody class="no-border-y">
					{% for course in courses %}
						<tr>
							<td>
								<a href="{{path('ageuk_course_view_index', {'course':course.id})}}">
									{{course.title}}
								</a>
							</td>
							<td class="text-right"><a href="#">Unsubscribe</a></td>
						</tr>
					{% endfor %}
				</tbody>
			</table>
		{% endif %}
		</div>
	</div>
</div>