{% extends '::base.html.twig' %}

{% block body %}
<div class="col-md-8 col-md-offset-2 margin-top-30">
	<div class="block-flat">
		<div class="header">
			<h4>Courses</h4>
		</div>
		<div class="content">
			<ul class="list-group">
				{% for course in courses %}
				<li class="list-group-item">
					<a href="{{path('ageuk_course_view_index', {'course':course.id})}}">{{course.title}}</a>
				</li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<button class="btn btn-success" data-toggle="modal" data-target="#new-course">Create a new Course</button>
</div>

<div id="new-course" class="modal fade" style="display:none;">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				Create a new Course
			</div>
			<div class="modal-body" style="overflow:hidden;">
				{{render(controller('AgeukCourseBundle:New:index'))}}
			</div>
			<div class="modal-footer">
				<button class="btn btn-danger" type="button" data-dismiss="modal">Cancel</button>
			</div>
		</div>
	</div>
</div>




{% endblock %}