<div class="col-md-4 col-md-offset-4">
	<h4>Events I'm registered for</h4>
	<div class="tab-container">
		<ul class="nav nav-tabs">
			<li class="active">
				<a data-toggle="tab" href="#most-recent">Most recent</a>
			</li>
			<li>
				<a data-toggle="tab" href="#most-popular">Most popular</a></li>
			</li>
		</ul>
		<div class="tab-content">
			<div id="most-recent" class="tab-pane active cont">
				<table class="no-border">
					<thead class="no-border">
						<tr>
							<th>Course Title</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody class="no-border-y">
						{% for event in delegate.events %}
							<tr>
								<td>{{event.course.title}}</td>
								<td class="text-right">View Event</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
			<div id="most-popular" class="tab-pane cont">
				<table class="no-border">
					<thead class="no-border">
						<tr>
							<th>Course Title</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody class="no-border-y">
						{% for event in delegate.events %}
							<tr>
								<td>{{event.date|date("d/m/Y")}}</td>
								<td class="text-right">View Event</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>			
		</div>
	</div>
</div>

