<div class="col-md-8 col-md-offset-2">
	<div class="block-flat">
		<div class="header">
			<h4>Events</h4>
		</div>
		<div class="content">
		{% if app.user.events|length < 1 %}
			<h4>You are not registered to any training events</h4>
		{% else %}
			<div class="tab-container">
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-toggle="tab" href="#most-recent">Upcoming</a>
					</li>
					<li>
						<a data-toggle="tab" href="#most-popular">Most popular</a></li>
					</li>
				</ul>
				<div class="tab-content">
					<div id="most-recent" class="tab-pane active cont">
						<table class="no-border">
							<thead class="no-border">
								<tr>
									<th>Course Title</th>
									<th class="text-right">Action</th>
								</tr>
							</thead>
							<tbody class="no-border-y">
								{% for event in delegate.events %}
									<tr>
										<td>
											<a href="{{path('ageuk_event_view_index', {'event':event.id})}}">
												{{event.course.title}}
											</a>
										</td>
										<td class="text-right"><a href="{{path('ageuk_event_unregister_index', {'event':event.id, 'delegate':delegate.id})}}">Unregister</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<div id="most-popular" class="tab-pane cont">
						<table class="no-border">
							<thead class="no-border">
								<tr>
									<th>Course Title</th>
									<th class="text-right">Action</th>
								</tr>
							</thead>
							<tbody class="no-border-y">
								{% for event in delegate.events %}
									<tr>
										<td>{{event.date|date("d/m/Y")}}</td>
										<td class="text-right"><a href="#">Unregister</a></td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>			
				</div>
			</div>
		{% endif %}
		</div>
	</div>
</div>

